@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
}

body{
    font-family: "Poppins";
}

section{
    width: 100%;
}

.nav1{
    background-color:rgb(0,71,143) ;
    width: 100%;
    padding:8px 20px;
    text-align: center;
    font-family: "Poppins";
    
    
}


.nav1 a{
    color: white;
}

.nav2{
    padding-inline: 20px;
    padding-block: 10px;
    display: flex;
    
}

.nav2 .links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    margin-left: 20px;
    font-family: "Poppins";
    
}

.nav2 .links a{
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}

.hmbrgr-menu{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    align-items: center;
    display: none;
    box-sizing: border-box;
    width: 60px;
    color: rgb(0,102,204);
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
}

.hmbrgr-menu:hover{
    transform: scale(1.05);
}

.search-bar{
    background-color:#f6f6f6;
    width:max-content;
    display: flex;
    align-items: center;
    border-radius: 15px;
    gap: 10px;
    padding-inline: 10px;
    margin-left: 80px;
    width: 30%;

}

.search-input{
    font-size: 14px;
    font-family: "Poppins";
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    
     
}

.side-links{
    
    display: flex;
    align-items: center;
    
    gap: 20px;
    margin-left: 100px;
    justify-content: flex-end;
   
}

.side-links h4{
    font-weight: 500;
    color: rgb(0,71,143);
}

.cart{
    display: flex;
    gap: 2px;
    
    align-items: center;
    padding-inline: 5px;
    
}

.cart i{
    color: rgb(0,71,143);
}




.login{
    display: flex;
    align-items: center;
    gap: 2px;
}

.login i{
    color: rgb(0,71,143);
}

.banner{
    width: 100%;
}

.banner img{
    height: 485px;
    width: 100%;
}


/* .most-loved{
    
    background-color: aqua;
    
} */

.most-loved{
    width: 100%;
}

.most-loved-text{
    text-align: center;
    padding-block: 20px;
   
}

.most-loved-text h1{
    font-weight: 500;

}



.most-loved-cards{
    padding-block: 20px;
   
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.first-card{
    
    width: 270px;
   padding-bottom: 10px;
   border: 1px solid black;
   border-radius: 10px;
   transition: all 0.3s ease-in-out;
}

.first-card:hover{
    transform: scale(1.05);
   
}

.first-card .card-image img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-desc{
    padding-inline: 18px;
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
    
}

.card-desc h3{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.card-desc h4{
    font-weight: 400;
}

.ratings{
    padding-inline: 20px;
    margin-block: 20px;
}


.product-button{
    background-color: bisque;
    padding-block: 10px;
    margin-block: 10px;
    background-color: rgb(0,102,204);
    transition: all 0.1s ease-in-out;

}

.product-button:hover{
    background-color: rgb(70, 70, 173);
}

.product-button a{
    font-size: 1.2rem;
    color:white;
}   

.two-image-banner{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-block: 25px;
    padding-inline: 90px;
}

.first-image img{
    border-radius: 10px;    
}

.second-image img{
    border-radius:10px;
}




.summer-essentials-button{
    text-align: center;
    margin-top: 15px;
   
   
}

.summer-essentials-button .btn{
        border: 1px solid rgb(57,171,101);
        background-color: rgb(57,171,101);
        padding: 15px 30px;
        border-radius: 10px;
        color: white;
}


.lip-balms{
    background-color: rgb(57,171,101);
    margin-top: 30px;
}

.lip-balm-text h1{
    padding-top: 30px;
}

.new-launches{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    
   background-color:rgb(185,243,204) ;
}

.new-launches-text{
   width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 30px;

}


.new-launches-text h1{
    font-weight: 500;
    font-size: 1.5rem;
   
}

.new-launches-cards{

    padding-inline: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.new-launch-first-card{
    width: 270px;
    padding-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.new-launch-first-card:hover{
    transform: scale(1.05);
}


.new-launch-first-card-image{
    margin-bottom: 10px;
}
.new-launch-first-card-image img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.new-launch-first-card-desc{
    padding-inline: 10px;
    text-align: center;
}

.new-launch-first-card-desc h3{
    font-weight: 500;
    margin-bottom: 5px;
}

.new-launch-first-card-desc h4{
    font-weight: 400;
    margin-bottom: 20px;
}

.new-launch-first-card-desc h2{
    font-weight: 500;
}

.price{
    display: flex;
    padding-inline: 10px;
    gap: 5px;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.price h2{
    font-size: 1rem;
}

.price .cut-price{
    text-decoration: line-through;
}

.price .off{
    background-color:rgb(230,240,250);
    display: flex;
    align-items: center;
    padding-inline: 5px;
    border-radius: 15px;
    font-size: 0.8rem;
}

.review{
    margin-bottom: 10px;
}

.new-launch-button{
    text-align: center;
    background-color: rgb(0,102,204);
    margin-inline: 10px;
    padding-block: 10px;
    border-radius: 10px;
    
}

.new-launch-button h3{
    color: white;
}

.reviews-heading h2,h3{
    font-weight: 500;
}

.reviews-heading{
    text-align: center;
    padding-block: 30px;
}

.reviews-cards{
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
   width: 100%;
   padding-inline: 20px;
   gap: 20px;
}

.reviews-first-card{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 50px;
    width: 400px;
    text-align: center;
    padding-block: 10px;
    border: 1px solid black;
    margin-block: 20px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    box-shadow:10px 10px 8px ;
    
    

}

.reviews-first-card-image{
   
    display: flex;
    justify-content: center;
    
}

.reviews-first-card-image img{
    border-radius: 50px;
}

.reviews-first-card .para{
    font-size: 1.1rem;
}

.reviews-first-card h2{
    margin-bottom: 5px;
    font-weight: 500;
}

.verification{
    display: flex;
    align-items: center;
    gap: 2px;
    
    text-align: center;
    justify-content: center;
}



.verification i,p{
    font-size: 0.7rem;
    margin-bottom: 10px;
}

.para1{
    padding-bottom: 10px;
    font-size: 1rem;
}


.star{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.constants{
    width: 100%;
}

.constants img{
    width: 100%;
}

.ingredients{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    
}

.ingredients .text{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
   
}

.ingredients .icons{
    display: flex;
    justify-content: center;gap: 30px;
    padding-block: 10px;
    margin-bottom: 20px;
}

.icon1{
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 50%;
    background-image: url(images/11.jpg);
    background-size: cover;
    transition: all 0.4s ease-in-out;
    
}
.icon1:hover{
    box-shadow: 0px 10px 11px;
    cursor: pointer;
}

.icon2{
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 50%;
    background-image: url(images/12.jpeg);
    background-size: cover;
    transition: all 0.3s ease-in-out;
    
}

.icon2:hover{
    box-shadow: 0px 10px 11px;
    cursor: pointer;
}

.icon3{
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 50%;
    background-image: url(images/13.png);
    background-size: cover;
    transition: all 0.3s ease-in-out;
    
}

.icon3:hover{
    box-shadow: 0px 10px 11px;
    cursor: pointer;
}

.icon4{
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 50%;
    background-image: url(images/14.jpg);
    background-size: cover;
    transition: all 0.3s ease-in-out;
    
}

.icon4:hover{
    box-shadow: 0px 10px 11px;
    cursor: pointer;
}

.icon5{
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 50%;
    background-image: url(images/15.jpg);
    background-size: cover;
    transition: all 0.3s ease-in-out;
    
}

.icon5:hover{
    box-shadow: 0px 10px 11px;
    cursor: pointer;
}

.coconut-water {
    text-align: center;
    padding: 30px;
   border: 1px solid rgb(0,102,203);
   border-radius: 15px;
    display: flex;
    flex-direction: column;
   width: 800px;
   padding: 20px;
   box-shadow: 10px 10px 50px rgb(94, 148, 203);
}

.coconut-water h2{
    font-weight: 600;
    color: rgb(0,102,203);
}

.coconut-water p{
    font-size: 1rem;
}
.arrow{
    display: flex;
    justify-content: center;
    gap: 4px;
}


.arrow-icon{
    animation-name: movealong;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes movealong {
    from {left:0px}
    to {left: 3px;}
}



/* Water Lock Technology */

.last-banner1{
    width: 100%;
    padding-inline: 120px;
    position: relative;
    display: flex;
    margin-block: 40px;
}


.banner1{
    width: 50%;
    
}

.banner1 img{
    width: 100%;
}

.banner2{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-inline: 100px;
    background-color: rgb(255,255,255,0.7);
    backdrop-filter: blur(10px);
    margin-top: 35px;
    border-radius:20px;
    position: absolute;
    right: 120px;
    width:650px ;
    z-index: 2;
    padding-block: 50px;

}

.banner2 h2{
    font-weight: 600;
}

.banner2 .arrow{
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}

.last-banner2{
    display: flex;
    flex-direction: column;
    
    
    
}

.last-banner2 .heading{
    
    text-align: center;
    margin-top: 40px;
}

.last-banner2 h3{
    color:rgb(0,102,203) ;
}

.last-banner2-cards{
    
    padding-block: 15px;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}


.card1,.card2,.card3,.card4{
    transition: all 0.3 ease-in-out;
}

.card1{
    height: 280px;
    width: 280px;
   
    background-image: url(images/cardddd1.jpeg);
    background-size: cover;
}

.card1:hover{
    background-color: rgb(2,2,2,0.5);
    cursor: pointer;
    background-blend-mode:color-burn
}

.card2{
    height: 280px;
    width: 280px;
    
    background-image: url(images/cardddd2.jpeg);
    background-size: cover;
}

.card2:hover{
    background-color: rgb(2,2,2,0.5);
    cursor: pointer;
    background-blend-mode:color-burn
}

.card3{
    height: 280px;
    width: 280px;
    
    background-image: url(images/cardddd3.jpeg);
    background-size: cover;
}


.card3:hover{
    background-color: rgb(2,2,2,0.5);
    cursor: pointer;
    background-blend-mode:color-burn
}


.card4{
    height: 280px;
    width: 280px;
    
    background-image: url(images/carddd4.jpeg);
    background-size: cover;
}

.card4:hover{
    background-color: rgb(2,2,2,0.5);
    cursor: pointer;
    background-blend-mode:color-burn
}

footer{
    display: flex;
    flex-direction: column;
    padding-inline:80px;
    background-color: rgb(0,51,102);
    padding-top: 30px;
}

.footer-1{
    width: 100%;
    background-color: rgb(0,51,102);
    display: flex;
    padding-bottom: 60px;
    border-bottom: 1px solid white;
    
}

.footer-logo{
    height: 94px;
    width: 300px;
    
    background-image: url(images/logo2.JPG);
    background-size: contain;
    background-repeat: no-repeat;
}



.footer-1 .llinks{
    display: flex;
    gap: 20px;
    background-color: rgb(0,51,102);
    width: 76%;
    justify-content: space-evenly;
}

.links-list1,.links-list2,.links-list3{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}


.footer-1 .llinks a{
    color: white;
}


